/* Imports */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');

/* Setup */

*{
  margin:0;
  padding:0;
  --bg-clr:#F8F9FA;
  --white-clr:#FFFFFF;
  --dark-clr: #454D5D;
  --medium-clr: #727E96;
  --medium-clr-op:rgba(114,126,150,30);
  --light-clr:#ACB3C2;
  --accent-clr:#D3874F;
  --shawdow-clr:rgba(109, 109, 109,25);
  font-family: 'Poppins', sans-serif;
}

/* text */





/* components */
.menu{
  display: flex;
  justify-content: center;
  align-content:center;
  
}

.menu .flexC{
  display: inline;
  
}

